#  Ejercicios

#### 1 Ejercicio

Dada la lista L = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], escribe expresiones en Python que produzcan los siguientes resultados:

1. El primer elemento de la lista.
2. El último elemento de la lista (Sin conocer la longitud de la lista).
3. La sublista con los dos últimos elementos. (Sol: [8, 9])
4. La sublista de los elementos que ocupan posiciones pares. (Sol: [1, 3, 5, 7, 9])
4. La sublista de los elementos que ocupan posiciones impares. (Sol: [2, 4, 6, 8])

In [2]:
# Sol 1:
L = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(L[0])

1

In [3]:
# Sol 2: 
print(L[-1])

9

In [6]:
# Sol 3: 
print(L[-2:])

(8, 9)

In [7]:
# Sol 4:
print(L[::2])

(1, 3, 5, 7, 9)

In [8]:
# Sol 5:
print(L[1::2])

(2, 4, 6, 8)

#### 2 Ejercicio

Dada una lista de enteros a y un número entero n, define:
1. una función llamada __contar__ que calcule el número de veces que se repite n en a.
2. una función llamada __porcentaje__ que calcule el porcentaje de veces que se repite n en a.

_Nota_: utiliza los métodos __len__ y __count__. 
* Puedes ejecutar __list.count?__ para obtener ayuda del método __count__.
* Puedes ejecutar __help(list.count)__ para obtener ayuda del método __count__.

In [20]:
# Sol: 
a = []

def contar(n):
    return a.count(n)

Prueba las funciones con los argumentos `a = m` y `n = 4`.

In [21]:
# Sol: 
m = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 1, 4]
a=m
contar(4)

3

#### 3 Ejercicio

La función  __upper__ del tipo __string__ genera una nueva cadena de caracteres, donde todos los caracteres son mayúsculas.
Dada la siguiente cadena:

In [22]:
# ejecuta esta celda
s = 'Hola, me llamo Iñigo Montoya, tú mataste a mi padre. ... Prepárate a morir'
s.upper()

'HOLA, ME LLAMO IÑIGO MONTOYA, TÚ MATASTE A MI PADRE. ... PREPÁRATE A MORIR'

* Genera una cadena __t__ igual que __s__ pero en mayúsculas. Calcula la longitud de t.
* Ejecuta la función  __split(',')__. Fíjate en lo que devuelve esa función. 
* Ejecuta la función __lower()__.
* Ejecuta la función  __title()__.
* Ejecuta __dir(str)__ para listar las funciones disponibles para trabajar con cadenas.

In [30]:
# Sol: 
s = 'Hola, me llamo Iñigo Montoya, tú mataste a mi padre. ... Prepárate a morir'
t = s.upper()
len(t)

74

In [31]:
t.split(',')

['HOLA',
 ' ME LLAMO IÑIGO MONTOYA',
 ' TÚ MATASTE A MI PADRE. ... PREPÁRATE A MORIR']

In [32]:
t.lower()

'hola, me llamo iñigo montoya, tú mataste a mi padre. ... prepárate a morir'

In [33]:
t.title()

'Hola, Me Llamo Iñigo Montoya, Tú Mataste A Mi Padre. ... Prepárate A Morir'

In [35]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### 4 Ejercicio

Dada la lista de las ciudades más pobladas de Italia __it__:

it = [ 'Roma', 'Milán', 'Nápoles', 'Turín', 'Palermo' , 'Génova',
      'Bolonia', 'Florencia', 'Bari', 'Catania']
      
* Crea un diccionario donde la clave sea la posición que ocupa cada ciudad en la lista. Para hacerlo sigue estas indicaciones:
    * Crea una secuencia de enteros mediante la función __range__. El inicio de la secuencia es el cero y el fin de la secuencia es la longitud de la lista de poblaciones de Italia.
    * Crea una lista __m__ de tuplas del tipo  (pos, ciudad). Utiliza la función __zip__.
    * Utiliza la función __dict__ para construir el diccionario a partir de la lista __m__.

In [ ]:
# El diccionario pedido tiene esta forma:

"""
{0: 'Roma',
 1: 'Milán',
 2: 'Nápoles',
 3: 'Turín',
 4: 'Palermo',
 5: 'Génova',
 6: 'Bolonia',
 7: 'Florencia',
 8: 'Bari',
 9: 'Catania'}
"""

In [11]:
# Sol:
it = [ 'Roma', 'Milán', 'Nápoles', 'Turín', 'Palermo' , 'Génova', 'Bolonia', 'Florencia', 'Bari', 'Catania']
it
n=range(10)
a=list(n)
m=list(zip(a,it))

dict(m)

{0: 'Roma',
 1: 'Milán',
 2: 'Nápoles',
 3: 'Turín',
 4: 'Palermo',
 5: 'Génova',
 6: 'Bolonia',
 7: 'Florencia',
 8: 'Bari',
 9: 'Catania'}

#### 5 Ejercicio

La función __convertirF2C__ convierte grados Fahrenheit en grados centígrados.

In [39]:
# Ejecuta esta celda
def convertirF2C(f):
    return  ( f - 32 ) * 5 / 9

* Utiliza la función __convertirF2C__ para generar la siguiente tabla de conversión:

```
0:º F = -17.8º C
10:º F = -12.2º C
20:º F = -6.7º C
    ...
100:º F = 37.8º C
110:º F = 43.3º C
120:º F = 48.9º C
```

__Nota__:
* Genera la lista de valores [0, ... , 120] con la función __range__.
* Utiliza un bucle __for__ para calcular los grados centígrados de cada elemento de la lista de valores.
* Utiliza los operadores de formato `%d` y `%.1f` para escribir los resultados.

In [77]:
e= range(0,121,10)

for j in e: 
   [print('%d grados fahrenheit equivalen a %.2f grados centígrados' %(j, convertirF2C(j)))]

0 grados fahrenheit equivalen a -17.78 grados centígrados
10 grados fahrenheit equivalen a -12.22 grados centígrados
20 grados fahrenheit equivalen a -6.67 grados centígrados
30 grados fahrenheit equivalen a -1.11 grados centígrados
40 grados fahrenheit equivalen a 4.44 grados centígrados
50 grados fahrenheit equivalen a 10.00 grados centígrados
60 grados fahrenheit equivalen a 15.56 grados centígrados
70 grados fahrenheit equivalen a 21.11 grados centígrados
80 grados fahrenheit equivalen a 26.67 grados centígrados
90 grados fahrenheit equivalen a 32.22 grados centígrados
100 grados fahrenheit equivalen a 37.78 grados centígrados
110 grados fahrenheit equivalen a 43.33 grados centígrados
120 grados fahrenheit equivalen a 48.89 grados centígrados

In [80]:
g=range(0,121,10) 
grados=list(g)
b=[]
for i in grados:
    b.append(convertirF2C(i))
   
t=list(zip(g,b))
dict(t)

{0: -17.77777777777778,
 10: -12.222222222222221,
 20: -6.666666666666667,
 30: -1.1111111111111112,
 40: 4.444444444444445,
 50: 10.0,
 60: 15.555555555555555,
 70: 21.11111111111111,
 80: 26.666666666666668,
 90: 32.22222222222222,
 100: 37.77777777777778,
 110: 43.333333333333336,
 120: 48.888888888888886}

#### 6 Ejercicio

Los 15 primeros números triangulares son:

```
[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105]
```

Define una función __triang_1__ que reciba un número entero positivo $n$ como argumento y genere la lista de los `n` primeros números triangulares. Resuelve el problema aplicando la fórmula a_n = n * (n + 1) / 2. __Utiliza listas por comprensión__.

__Nota:__

* Genera primero los n primeros números comenzando por el 0 y utilizando la función __range__.

In [98]:
n=range(15)
list(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [101]:
# Sol:
def triang_1(n):
    l=[]
    l=[x*(x+1)/2 for x in range(n)]
    return(l)

In [102]:
triang_1(15)

[0.0,
 1.0,
 3.0,
 6.0,
 10.0,
 15.0,
 21.0,
 28.0,
 36.0,
 45.0,
 55.0,
 66.0,
 78.0,
 91.0,
 105.0]

#### 7 Ejercicio

Dado el diccionario de las ciudades más pobladas de Italia __ciudades__:

d =  { 1: 'Roma', 2: 'Milán', 3:'Nápoles', 4:'Turín', 5:'Palermo' ,6: 'Génova',
      7:'Bolonia', 8:'Florencia', 9:'Bari', 10:'Catania'}
      
y la lista __pob__ que contiene información de la cantidad de población en cada ciudad:

pob =  [2718768, 1299633, 973132, 908263, 663173, 610887, 372256, 364710, 322511, 298957]

* crea un nuevo diccionario donde cada elemento sea de la forma

__i: [ciudad,poblacion]__

__Nota__: Utiliza listas por comprensión. La función __enumerate__ también te puede ayudar.

In [90]:
pob = [2718768, 1299633, 973132, 908263, 663173, 610887, 372256, 364710, 
       322511, 298957]
d = { 1: 'Roma', 2: 'Milán', 3:'Nápoles', 4:'Turín', 5:'Palermo' ,
     6: 'Génova',   \
      7:'Bolonia', 8:'Florencia', 9:'Bari', 10:'Catania'}
# Sol

d.values()

dict_values(['Roma', 'Milán', 'Nápoles', 'Turín', 'Palermo', 'Génova', 'Bolonia', 'Florencia', 'Bari', 'Catania'])

In [94]:
i=list(zip(d.values(),pob))
dict(i)

{'Bari': 322511,
 'Bolonia': 372256,
 'Catania': 298957,
 'Florencia': 364710,
 'Génova': 610887,
 'Milán': 1299633,
 'Nápoles': 973132,
 'Palermo': 663173,
 'Roma': 2718768,
 'Turín': 908263}

-------------------